<div>
  <h1 class="text-4xl" *ngIf="weatherData">
    {{ weatherData?.name }}, {{ weatherData?.sys.country }}
  </h1>
  <!-- <p *ngIf="weatherData">{{weatherData?.weather[0].description}}</p> -->
  <p
    class="weather bg-black text-xl w-24 rounded-full m-auto text-center"
    *ngIf="weatherData"
  >
    {{ weatherData?.weather[0].main }}
  </p>
</div>

<!-- temperatura -->
<p *ngIf="weatherData" class="temp text-9xl">
  {{ weatherData?.main.temp | number : "1.0-0" }}°C
</p>

<div
  *ngIf="weatherData"
  class="weather flex flex-row justify-around bg-black mx-4 p-4 rounded-lg"
>
  <div>
    <fa-icon class="fa-lg" [icon]="faDroplet" style="color: #aec3b0"></fa-icon>
    <p>{{ weatherData?.main.humidity }}%</p>
    <p>Humidity</p>
  </div>

  <div>
    <fa-icon class="fa-lg" [icon]="faWind" style="color: #aec3b0"></fa-icon>
    <p>{{ weatherData?.wind.speed | convertToKmh | number : "1.0-0" }}Km/h</p>
    <p>Wind</p>
  </div>

  <div>
    <fa-icon class="fa-lg" [icon]="faEye" style="color: #aec3b0"></fa-icon>
    <p>{{ weatherData?.visibility | convertToKm }}Km</p>
    <p>Visibility</p>
  </div>
</div>
